:root {
    --color: black;
    --color: cornflowerblue;
}

body {
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
}

@media screen and (max-width: 990px) {
    body {
        background-color: darkgrey;
        width: 100%;
    }
}

header {
    display: flex;
    background-color: lightblue;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    border-style: solid;
}

main {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;

}

#work {
    border-style: solid;
    padding: 10px;
    background: linear-gradient(to bottom, #ffe6ff 0%, #ccffff 100%);
    text-align: center;
}

#about {
    border-style: solid;
    padding: 10px;
    background: linear-gradient(to bottom, #ffe6ff 0%, #ccffff 100%);
    text-align: center;
    margin-top: 10px;
}

#contact {
    text-align: center;
}

.profilePic {
    display: block;
    width: 50%;
    height: 50%;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
